<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h3> Test envoi email par Cléason </h3>

        <strong>{{ date }}</strong>
        <strong> Votre email: {{ email }}</strong>

        <p style="color: rgb(124, 5, 5);">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque dolorem facere
            autem
            deserunt ullam laborum in minus saepe voluptas, a quis suscipit quam dolorum blanditiis maiores molestias
            porro
            nam quod, nisi impedit quos! Obcaecati in sed provident ratione esse laudantium! Explicabo repudiandae,
            fugiat
            est corrupti sed eligendi eos sit vel quibusdam consequuntur adipisci deleniti pariatur quos aliquam! Veniam
            magni, adipisci, minus officia blanditiis placeat fuga esse perferendis debitis assumenda dolor repellat.
            Numquam voluptate tenetur rem corporis natus culpa, aut quod nobis pariatur! Odit dolorem fugit ea dicta
            quod
            qui, aliquid rerum laboriosam nesciunt corporis quos voluptatibus pariatur quo totam illo ab necessitatibus
            labore quae vel harum et delectus eius quia. Natus a, sunt esse laborum expedita cum, tenetur animi nulla
            repellendus nisi, explicabo molestiae? Saepe blanditiis alias cupiditate, et facere sequi at delectus, animi
            asperiores vero voluptate officia quas veritatis! Ex sunt eius delectus expedita veniam eveniet recusandae
            amet
            quisquam! Dicta perferendis provident blanditiis quod sint sed deserunt, mollitia laudantium recusandae
            magni
            unde fuga! Fugit nulla earum ratione delectus, totam cupiditate cumque, distinctio quis, minima autem
            dolorem
            hic sapiente. Tempore accusamus excepturi nesciunt ratione omnis natus totam neque quos ducimus! Ullam quam
            iure
            et hic eum non quasi dolores nihil minima, laborum commodi asperiores enim sit porro libero, in omnis ut ex
            voluptate maiores placeat! Id exercitationem optio, debitis blanditiis laboriosam adipisci. Dolorem dicta
            ut,
            perferendis amet dolorum consequuntur assumenda animi vel ducimus ullam nisi explicabo quae, tempore fuga
            dolor
            incidunt nesciunt quas nam id laborum adipisci, impedit praesentium expedita quod. Nostrum ad exercitationem
            officiis, magnam, fugit pariatur temporibus sint deleniti in soluta voluptate illo est voluptatibus
            suscipit.
            Quis esse cupiditate omnis atque, quod incidunt laborum repellat doloribus ducimus libero, ullam dolor
            repellendus rerum quasi distinctio voluptas pariatur accusamus culpa vel veritatis perspiciatis in
            exercitationem debitis facere? Dolor, facere nemo.</p>

        <em>
            Cleason programmeur email: devop.testing88@gmail.com
        </em>

    </div>

</body>

</html>